<div class="map-wrap">
    <map-module class="map" api="{{ sett('googlemap_key') }}" id="map{{ module.id }}" :lng="{{ module.vars.lng }}" :lat="{{ module.vars.lat }}" content="{{ module.vars.content|nl2br|e }}"></map-module>
</div>